 {{#each errors}}
    <div class="alert alert-warning" id="alerts">{{text}}</div>
    {{/each}}
</div>

{{#each errors}}
    <div class="alert alert-warning" id="alerts">{{message}}</div>
    {{/each}}
</div>



