
     <div class="container-fluid bg-light border p-4" id="footer">
    <div class="row">
        <div class="col-md-4">
           <p>Informations</p>
        <p><a href="/about">About Us</a></p> 
        <p><a href="/contact">Contact Us</a></p> 
        <p><a href="/advert">Advertise</a></p> 
         
        </div>
        <!--end 1 here-->
        <div class="col-md-4">
           <p>Account</p> 
        <p><a href="/register">Register</a></p> 
        <p><a href="/login">Login</a></p> 



        </div>
        <!--end two here-->
        <div class="col-md-4">
           <p>Quick links</p> 
        <p><a href="/news">News</a></p> 
        <p><a href="/education">Education</a></p> 
        <p><a href="/entertainment">Entertainment</a></p> 
        <p><a href="/politics">Politics</a></p> 
        </div>
    </div> 
          <p class="text-danger"><a href="#">GoTop</a></p>
    <p id="copy">Zenith Forum &copy; 2020</p>
     </div>