<div class="container my-4">
    {{#if error_msg}}
    <div class="alert alert-danger" id="alerts">{{error_msg}}</div>
    {{/if}}
     {{#if success_msg}}
    <div class="alert alert-success" id="alerts">{{success_msg}}</div>
    {{/if}}
</div>





