
<div class="container-fluid bg-light my-4 p-4 border">
   <p class="text-center ">Welcome to Entertainment section of Zenith Forum</p>
    <form class="form-search" action="/search" method="GET">
     <div class="input-group mt-3" id="search">
         <input type="search" class="form-control" placeholder="Search" name="query" >
         <div class="input-group-append">
             <button class="btn btn-primary" type="submit" id="btnSearch">Search</button>
         </div>
     </div>
       </form>
</div>