<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Zenith Forum</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/main.css">
        <link rel="stylesheet" href="/fa/font-awesome.min.css">

</head>
<body>
        <div class="cover">
             {{>_login}}
        
           {{>_header}}
            {{>_msg}}
            {{>_errors}}
             {{>_error}}
            {{{body}}}
            {{>_footer}}
        </div>



        <script src="/dist/jquery.min.js"></script>
         <script src="dist/umd/popper.min.js"></script>
        <script src="/js/bootstrap.min.js"></script>
       <script src="/javascript/java.js"></script>
</body>
</html>