<div class="container my-5">
  <p>ssssss  {{user.username}}</p> 
  {{#each features}}
 <div class="card">
     <div class="card-header">
{{category}} {{feature.username}}
     </div>
     <div class="card-body">
 {{title}}
     </div>
 </div>
 
  
 

  {{/each}}
</div>