
<div class="container my-4 col-md-10">
    <h5 class="text-center">Reset Password</h5>
    <form action="/forgot" method="POST" >
    <div class="form-group">
      <label for="email">Email</label>
      <input type="email" name="email" class="form-control" id="pass">
    </div>
    
    <div class="form-group">
     <button class="btn btn-primary " type="submit">Reset</button>

    </div>
    
    </form>
</div>




<style>
  #pass{
    background: ghostwhite;
  }
  .btn{
    font-weight: bold;
  }
</style>