<div class="container my-4 col-md-10">
    <form action="/register" method="POST" enctype="multipart/form-data">
        <h5 class="text-center">Register Account</h5>

    <div class="form-group">
      <label for="username">Your Username</label>
      <input type="text" name="username" class="form-control" id="pass">
    </div>
     <div class="form-group">
      <label for="email">Your Email</label>
      <input type="email" name="email" class="form-control" id="pass">
    </div>
     <div class="form-group">
      <label for="photo">Your Photo</label><br>
      <input type="file" name="photo" required>
    </div>
    <div class="form-group">
     <label for="password">Your Password</label>
      <input type="password" name="password" class="form-control" id="pass">
    </div>
        <div class="form-group">
    <label for="password2">Confirm Password</label>
      <input type="password" name="password2" class="form-control" id="pass">
    </div>
      {{#if user.admin}} 
<div class="form-group" id="admin">
      <label for="admin">Admin</label>
      <input type="password" name="admin" class="form-control" id="pass">
    </div>
    
    <br>
    {{/if}}
     <button class="btn btn-primary " type="submit">Register</button>
    </form>
</div>


<style>
  #switch{
    padding:20px;
  }

  #admin p{
         font-weight: bold;
  }
  #admin label{
             font-weight: bold;

  }
  #pass{
    background: ghostwhite;
  }
  .btn{
    font-weight: bold;
  }
</style>